@import url("font-awesome.min.css");

/*Reset: not all, only relevant to the code!*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, abbr, img, strong, u, i, center, dt, ul, li, fieldset, form, label,
table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #162e69;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

/*Text*/

body, input, textarea, select {
    font-weight: 400;
    font-size: 18pt;
    line-height: 1.75em;
    color: #252c40;
    letter-spacing: 0.025em;
}

    @media screen and (max-width: 1920px) {

        body, input, textarea, select {
            font-size: 17pt;
        }
    }

    @media screen and (max-width: 1680px) {

        body, input, textarea, select {
            font-size: 15pt;
        }
    }

    @media screen and (max-width: 1280px) {

        body, input, textarea, select {
            font-size: 13pt;
        }
    }

    @media screen and (max-width: 1000px) {

        body, input, textarea, select {
            font-size: 13pt;
        }
    }

    @media screen and (max-width: 800px) {

        body, input, textarea, select {
            font-size: 12pt;
            line-height: 1.5em;
        }
    }

    @media screen and (max-width: 300px) {

        body, input, textarea, select {
            font-size: 11pt;
            line-height: 1.5em;
        }
    }

h1, h2{
    font-weight: 800;
    color: #211d4b;
}

h2{
    padding-bottom: 1em;
}

    .content p a{
        color: #211d4b;
    }

/*Header*/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 3em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

#header h1 {
    position: absolute;
    top: 0;
    height: 3em;
    line-height: 3em;
}

#header nav {
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
}

#header nav ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: 0;
    cursor: pointer;
}

@media screen and (min-width: 801px) {
    #header h1{
        left: 1em;
    }
}

@media screen and (max-width: 800px) {

    #header {
        height: 6.5em;
        line-height: 2.5em;
        left: 0;
        padding-top: 0.5em;
    }

    #header h1 {
        text-align: center;
        position: relative;
        top: 0;
        height: 2.5em;
        line-height: 2.5em;
        font-size: 1.5em;
    }

    #header nav {
        text-align: center;
        position: relative;
        height: 2.5em;
        line-height: 2.5em;
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {

    #header {
        left: 0;
        height: 8em;
        line-height: 1.5em;
        text-align: center;
        position: relative;
        padding: 1em 0 0 0;
    }

    #header h1 {
        top: 0;
        height: 1.5em;
        line-height: 1.5em;
        font-size: 1.5em;
        margin-left: -0.5em;
    }

    #header nav {
        height: 1.5em;
        line-height: 1.5em;
        font-size: 1em;
    }

    #header nav ul li{
        display: block;
    }

    #header nav ul li a {
        height: 1.5em;
        line-height: 1.5em;
        padding: 0.5em 0.5em 0 0.5em;
        outline: 0;
    }
}

/*Wrapper for content*/

.wrapper{
    padding: 5.5em 4% 4% 4%;
    margin: auto;
}

    @media screen and (max-width: 800px) {
        .wrapper{
            padding-top: 9em;
        }
    }

    @media screen and (max-width: 320px) {
        .wrapper{
            padding-top: 3em;
        }
    }


.content {
    position: relative;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-width: 72%;
    margin: 0 auto 50px;
    padding: 80px;
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .content{
        max-width: 76%;
    }
}

@media screen and (max-width: 1280px) {
    .content{
        max-width: 82%;
        padding: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .content{
        max-width: 86%;
        padding: 40px;
    }
}

@media screen and (max-width: 800px) {
    .content{
        max-width: 92%;
        padding: 20px;
    }
}

@media screen and (max-width: 300px) {
    .content{
        max-width: 96%;
        padding: 10px;
    }
}

/*Buttons*/
input[type="button"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: #162e69;
    border: 0;
    border-radius: 0.5em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    outline: 0;
    margin-top: 2em;
    padding: 0 1em 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
}
    @media screen and (max-width: 800px) {
        input[type="button"]{
            margin-top: 1.2em;
        }
    }

    @media screen and (max-width: 300px) {
        input[type="button"]{
            margin-top: 0.8em;
        }
    }

/*Footer*/

footer{
    position: relative;
    height: 2.5em;
    line-height: 2.5em;
    margin: 0;
    background: #180a51;
    color: rgba(185, 186, 187, 0.5);
    overflow: hidden;
}

    footer ul.menu {
        position: absolute;
        right: 0.5em;
        top: 0;
        height: 2.5em;
        line-height: 2.5em;
        margin: 0;
    }

    footer ul.menu li {
        display: inline-block;
        padding-left: 1em;
        border-left-color: rgba(185, 186, 187, 0.2);
        font-size: 0.9em;
    }

    footer ul.menu li a{
        color: white;
    }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map.drawPoint{
    cursor: crosshair;
}

.el{
    color: #ce231c;
}

.marker {
    background-size: cover;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.marker.tripRelated{
    /*https://www.clker.com/clipart-google-maps-gris.html*/
    background-image: url('../img/marker_blue.png');
}

.marker.tripRelated.visited{
    /*https://pixabay.com/en/google-map-marker-red-peg-309740/*/
    background-image: url('../img/marker_red.png');
}

.marker.userGenerated{
    /* yellow
    https://www.stayinathens.com/property-owner/
    green
    http://icon-park.com/icon/simple-location-map-pin-icon2-green-free-vector-data/*/
    width: 25px;
    background-image: url('../img/marker_yellow.png');
}

.mapboxgl-popup-content{
    border-radius: 6px;
    padding: 12px;
    min-height: 220px;
    max-height: 280px;
    min-width: 200px;
    max-width: 250px;
    background: #f8ffff;
}

.popupContent{
    position: relative;
}
.hidden{
    display: none;
}

.active{
    display:block;
}

.longDescription{
    min-height: 160px;
    max-height: 200px;
    min-width: 190px;
    max-width: 240px;
    overflow-y: scroll;
    padding: 5px 5px 10px 5px;
    background: white;
    border: #d6dee5;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.18);
}

.ppBtnDiv{
    height: auto;
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.ppBtn{
    width: 30%;
    margin: auto;
    display: block;
    position: relative;
    padding: 3px;
    background-color: #d6dee5;
    border: #d6dee5;
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.18);
}

.ppBtn:hover{
    background-color: #c6ced5;
}


.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
    display: none;
}

.mapboxgl-ctrl-group > button.displayed{
    background-color: #c6ced5;
    color: #e8f0f7;
}